/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.yml
/public/mix-manifest.json
/public/dist
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.svg
dockerfiles/php/php.docker
dockerfiles/php/php.docker
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.svg
web-laravel
